.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.show {
  display: block;
}
.hide {
  display: none;
}

/*body {
    width: 940px;
    margin: 0 auto;
    font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
}*/

/*HTML 5 specific*/
header,
section,
article,
aside,
footer {
  display: block;
}
aside {
  float: left;
  width: 11%;
}
article {
  float: right;
  width: 89%;
}
section {
  margin: 20px;
}
nav.vertical {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  overflow: hidden;
  text-align: center;
  background-color: #333;
}
nav.vertical > ul {
  list-style-type: none;
}
nav.vertical > ul > li {
  display: block;
}
nav.vertical a {
  color: #fff;
  text-decoration: none;
}
.apply-box {
  display: block;
}
.from-date {
  margin-right: 50px;
}
.to-date {
  margin-right: 10px;
}

.frmbtn {
  position: relative;
  top: 35px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  right: 5%;
  border: 0;
  width: 20%
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.chart{
  display: inline-block;
  width: 100%;
}
.leaveType{
  width: 42%;
  line-height: 43px;
  height: 33px;
  font-size: 15px;
}
.frmbtn .btn{
  width: 20%;
  right: 0;
}
input[type="text"]{
  height: 30px;
  width: 112%;
}
.tblUpcoming, .tblHistory, .tblManager{
  width: 100%;
}
.tblHistory tr:first-child th, 
.tblUpcoming tr:first-child th,
.tblManager tr:first-child th{
  text-align: left;
  border-bottom: 1px solid;
}

.tblUpcoming tr td, 
.tblHistory tr td ,
.tblManager tr td {
    padding-top: 20px;
}

.col1{
display: inline-block;
width: 100%;
margin-top: 20px;
}

#leaveapply{
  margin-right: 20px;
}
#dialog-modal textarea{
  width: 100%;
}
#dialog-modal button{
  margin-left: 35%;
  margin-top: 15px;
}
#LeaveTally, #leaveTracker {
    display: block;
    height: 400px;
    width: 400px;
    position: relative;
    left: 26%
}
.managerTab {
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 15px;
}
.request-approve,
.request-reject {
  border:none;
  background: none;
  cursor: pointer;
}
.request-reject{
  color: red;
}
.request-approve{
  color: green;
}
#linechart svg {
  height: 400px;
}

.filterow{
  display: inline-block;
  float: right;
}
.span3 {
    float: left;
}
.btn-primary {
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #08C, #04C);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.fbtn{
padding: 4px 12px;
font-size: 14px;
color: #fff;
text-decoration: none;
margin-right: 15px;
}
aside h4 a {
   text-decoration: none;
  color: #0E6892;
  font-family: "source sans pro", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.ui-datepicker-calendar, .ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-defaul, .ui-datepicker-title{
  color: purple !important;

}
h2 {
    font-family: "source sans pro", sans-serif;
    font-weight: 400;
}
#leaveform-dialog-modal{
  width:600px !important;
  height:400px !important;
}
#fromdatepicker, #todatepicker{
  background-image: url(../Images/calendar-icon.png);
  background-repeat: no-repeat;
  background-position: right;
}