#LeaveTally, #leaveTracker {
    display: block;
    height: 400px;
    width: 400px;
    position: relative;
    left: 26%
}
.managerTab {
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 15px;
}
.request-approve,
.request-reject {
	border:none;
	background: none;
	cursor: pointer;
}
.request-reject{
	color: red;
}
.request-approve{
	color: green;
}