<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Leave Managment Tracker</title>
    <link href="https://cdn.rawgit.com/novus/nvd3/v1.7.1/build/nv.d3.css" rel="stylesheet" type="text/css">
    <link href="../css/LeaveManagement.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/employee.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
    <header></header>
    <nav class="vertical">
        <ul>
            <li>
                <a href="#">Leave Management</a>
            </li>
            <li>
                <a href="#" class="link managerTab floatright">Manager</a>
            </li>
        </ul>
    </nav>
    <aside>
        <h4><a class="link" href="#chart">Leave Tally</a></h4>
        <h4><a class="link" href="#upcoming">Upcoming</a></h4>
        <h4><a class="link" href="#history">History</a></h4>
        <h4><a class="link requests hide" href="#managerField">Requests</a></h4>
    </aside>
    <article>
        <section>
            <div class="chart tab" id="chart">
            <svg id="LeaveTally" class="mypiechart"></svg>
            <button class="btn floatright" type="button" id="leaveform">+ New Request</button>
        </div>
        <div class="leaveform hide tab" id="leavefrm">
            <div class="apply-box">
            <div class="col1">
                <div class="from-date floatleft">
                    <label>From Date</label>
                    <input type="text" id="fromdatepicker">
                </div>
                <div class="to-date floatleft">
                    <label>To Date</label>
                    <input type="text" id="todatepicker">
                </div>
            </div>
            <div class="col1">
                <div class="type">
                    <label>Type</label>
                    <select name="leaveType" class="leaveType">
                        <option value="">Select Leave Type</option>
                        
                        <option value="PTO">Paid Time Off (PTO)</option>
                        
                        <option value="ML">Maternity Leave</option>
                        
                        <option value="PL">Paternity Leave</option>
                        
                        <option value="COF">Compensatory-Off</option>
                        
                    </select>
                </div>
            </div>
                <div class="description">
                    <label>Description</label>
                    <textarea rows="4" cols="50" id="desc"></textarea>
                </div>
                <div class="frmbtn">
                    <button class="btn" id="leaveapply">Apply</button>
                    <button class="btn" id="leavecancel">Cancel</button>
                </div>
            </div>
        </div>
        <div class="upcoming hide tab" id="upcoming">
            <table class="tblUpcoming">
                <tbody>
                    <tr class="trHeads">
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Type</th>
                        <th>Duration</th>
                        <th>Reason</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>03/05/2017</td>
                        <td>23/05/2017</td>
                        <td>PTO</td>
                        <td>20</td>
                        <td></td>
                        <td>Approved</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="history hide tab" id="history">
             <table class="tblHistory">
                <tbody>
                    <tr class="trHeads">
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Type</th>
                        <th>Duration</th>
                        <th>Reason</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>03/05/2017</td>
                        <td>23/05/2017</td>
                        <td>PTO</td>
                        <td>20</td>
                        <td></td>
                        <td>Approved</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="managerField hide tab" id="managerField">
            <h2>Requests raised</h2>
            <table>
                <tr>
                    <th>Emp ID</th>
                    <th>Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>No. of Days</th>
                    <th>Approve/Reject</th>
                </tr>
                <tr>
                    <td>112</td>
                    <td>Ajay Singh</td>
                    <td>02-06-2015</td>
                    <td>07-06-2015</td>
                    <td>4</td>
                    <td>
                        <button href="#" title="accept" class="request-approve">
                            <i class="icon-ok fa fa-check"></i>
                        </button>
                        <button href="#" title="reject" class="request-reject">
                            <i class="icon-remove fa fa-times"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>201</td>
                    <td>Aman Yadav</td>
                    <td>20-06-2015</td>
                    <td>26-06-2015</td>
                    <td>5</td>
                    <td>
                        <button href="#" title="accept" class="request-approve">
                            <i class="icon-ok fa fa-check"></i>
                        </button>
                        <button href="#" title="reject" class="request-reject">
                            <i class="icon-remove fa fa-times"></i>
                        </button>
                    </td>
                </tr>
            </table>
            <div id="dialog-modal" title="Reason for Rejection " style="display: none;">
                    <textarea></textarea>
                    <button type="button" id="dialog-close">Confirm</button>
            </div>
        </div>
    </section>
</article>

<footer></footer>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
<script src="https://cdn.rawgit.com/novus/nvd3/v1.7.1/build/nv.d3.js"></script>
<script src="../js/employee.js"></script>
</body>
</html>

