<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/loginPage.css" />
</head>
<title>Login page </title>
<header>
    <div id="headerWrapper">
        <a class="logo" href="http://www.pramati.com/" title="Home">
            <img src="http://www.pramati.com/assets/images/logo.png" alt="Pramati | Ideas to life"></a>
    </div>
</header>
<nav class="vertical">
    <ul>
        <li>
            <a href="#">Log in here</a>
        </li>
    </ul>
</nav>

<body>
    <form name="frmLogin" onsubmit="" id="frmLogin">
        <table id="loginMatrix">
            <tr>
                <td align="right">User Name
                </td>
                <td>
                    <input align="right" placeholder="xyz" type="text" id="userName" name="txtUserName" />
                </td>
            </tr>
            <tr>
                <td align="right">Password
                </td>
                <td>
                    <input type="password" id="password" name="txtPassword" />
                </td>
            </tr>
            <tr>
                <td align="right">
                </td>
                <td>
                    <button class="loginBtn" type="button" value="Log in" >Login</button>
                </td>
            </tr>
        </table>
    </form>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/login.js"></script>
    
</body>
</html>
